tech-newsletter-workflow.json
{
  "name": "AI-Powered Tech Newsletter Generator",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "weeks",
              "triggerAtDay": [
                1
              ],
              "triggerAtHour": 5
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        0
      ],
      "id": "6ef27458-c636-476b-b619-5faa4e15ef83",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://www.theverge.com/rss/index.xml",
        "options": {}
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        224,
        0
      ],
      "id": "bb63c433-0d34-43b0-b488-32e6b59c5558",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.content }}",
        "messages": {
          "messageValues": [
            {
              "type": "HumanMessagePromptTemplate",
              "message": "=Summarize this tech article in 1 sentence: {{$json[\"content\"]}}"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.7,
      "position": [
        448,
        96
      ],
      "id": "ffc7c2ea-3669-47fd-af5c-3d428f2b22b1",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        448,
        240
      ],
      "id": "f4ae56ab-a84a-4e6b-85a1-852ffb73e70d",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "rCv0eOgLIIYJAShl",
          "name": "n8n free OpenAI API credits"
        }
      }
    },
    {
      "parameters": {
        "fromEmail": "boss.preston08@gmail.com",
        "toEmail": "boss.preston08@gmail.com",
        "subject": "The Verge News",
        "emailFormat": "text",
        "text": "={{ $json.text }}",
        "options": {}
      },
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2.1,
      "position": [
        800,
        96
      ],
      "id": "28241e01-71a5-4913-af22-e690f0dffdb7",
      "name": "Send email",
      "webhookId": "d6163e1b-ff1a-4e63-b0bc-e6b6323f6377",
      "executeOnce": false,
      "credentials": {
        "smtp": {
          "id": "XE8jXu8ghDsfElR4",
          "name": "SMTP account"
        }
      }
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "content"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        304,
        224
      ],
      "id": "966df0d2-e6c4-4d27-8f74-2bf209fbbb0a",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Send email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "4352c8af-aebb-4f1f-9487-6eba290bdd17",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "54cd4abf80e3fd09e72d5fe8140ea5498d6dddc8151b01ef17bb66f9ff2adbe2"
  },
  "id": "9Eaw72mqVMWiNWCh",
  "tags": []
}
